html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  color: #34495E;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 165%;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.title {
  font-family: 'Chicago-Regular';
  font-size: 40px;
  line-height: 40px;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.button {
  display: block;
  width: 144px;
  height: 32px;
  background-color: #0A2037;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 11px;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #0A2037;
  color: #0A2037;
}

.view-more__btn {
  text-align: center;
  color: #0A2037;
  display: block;
  margin: 32px auto 0;
  max-width: 230px;
  height: 32px;
  padding: 5px 36px;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  cursor: pointer;
}

@font-face {
  font-family: 'Chicago';
  font-style: normal;
  font-weight: 400;
  src: local("Chicago"), url(../fonts/Chicago.ttf);
}

@font-face {
  font-family: 'Chicago-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Chicago-Regular"), url(../fonts/Chicago-Regular.ttf), url(../fonts/Chicago-Regular.eot);
}

.header__inner {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

.header__inner .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .header__logo-pre {
  width: 170px;
  height: 57px;
  margin-left: 18px;
}

.header__inner .header__search {
  position: relative;
  max-width: 440px;
}

.header__inner .header__search img {
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__inner .header__search input,
.header__inner .header__search button {
  border: 1px solid #0A2037;
  outline: none;
  border-radius: 3px;
}

.header__inner .header__search input {
  width: 440px;
  height: 34px;
  padding-left: 45px;
}

.header__inner .header__search button {
  position: absolute;
  right: 5px;
  top: 50%;
  height: 23px;
  width: 51px;
  background: rgba(129, 153, 163, 0.25);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.header__inner .header__search button:hover {
  background-color: #fff;
}

.header__inner .callback {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__inner .callback button {
  width: 150px;
  height: 32px;
  background-color: #0A2037;
  border: none;
  color: #8199A3;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.header__inner .callback button:hover {
  color: #fff;
}

.header__inner .callback span {
  font-size: 16px;
  font-family: 'Chicago';
}

.firstscreen__wrapper {
  margin: 0 auto;
  height: 912px;
  width: 100%;
}

.firstscreen__wrapper .bg-images {
  background: url("../images/bg-firstscreen.jpg") 0 0/100% auto no-repeat;
  width: 100%;
  height: 100%;
}

.firstscreen__wrapper .firstscreen-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  padding-top: 27px;
  font-weight: 700;
}

.firstscreen__wrapper .firstscreen-menu__list li {
  cursor: pointer;
}

.firstscreen__wrapper .firstscreen-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstscreen__wrapper .firstscreen-title__wrapper .firstscreen-title {
  max-width: 590px;
  margin: 22px 0 40px 0;
}

.firstscreen__wrapper .firstscreen-title__wrapper .firstscreen-title span {
  font-size: 60px;
}

.firstscreen__wrapper .prepay {
  font-family: 'Chicago-Regular';
  font-size: 30px;
  max-width: 220px;
  color: #8199A3;
}

.firstscreen__wrapper .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 590px;
  padding-right: 10px;
}

.firstscreen__wrapper .advantages .advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 75px;
  font-size: 19px;
  line-height: 30px;
}

.firstscreen__wrapper .advantages .advantages-item .advantages-item__pre {
  max-width: 305px;
  font-size: 19px;
  color: #0A2037;
}

.firstscreen__wrapper .advantages .advantages-item .advantages-item__line {
  width: 1px;
  height: 100px;
  background-color: #0A2037;
  margin-right: 70px;
}

.firstscreen__wrapper .advantages .advantages-item-2 .advantages-item__line {
  background-color: #fff;
}

.firstscreen__wrapper .photo-preview {
  height: 229px;
  max-width: 700px;
}

.firstscreen__wrapper .photo-preview img:not(:first-child) {
  margin-left: 50px;
  max-width: 182px;
  height: 229px;
}

.firstscreen__wrapper .calc-price {
  max-width: 305px;
  color: #0A2037;
}

.quality {
  max-width: 100%;
}

.quality__title {
  margin: 40px 0 40px 0;
}

.quality-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  line-height: 30px;
}

.quality-inner span {
  width: 1px;
  height: 172px;
  background-color: #0A2037;
  margin: 0px 45px 0 52px;
}

.quality-inner__img {
  max-width: 600px;
  max-height: 562px;
}

.services__title {
  text-align: center;
  margin: 70px 0 30px 0;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  position: relative;
  width: 364px;
  height: 364px;
  color: #8199A3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(129, 153, 163, 0.75)), to(rgba(52, 73, 94, 0.75)));
  background: linear-gradient(0deg, rgba(129, 153, 163, 0.75) 0%, rgba(52, 73, 94, 0.75) 100%);
  cursor: pointer;
}

.services__item:nth-child(-n+3) {
  margin-bottom: 23px;
}

.services__item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(129, 153, 163, 0.5)), to(rgba(52, 73, 94, 0.5)));
  background: linear-gradient(0deg, rgba(129, 153, 163, 0.5) 0%, rgba(52, 73, 94, 0.5) 100%);
  color: #fff;
}

.services__item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.services__item span {
  width: 1px;
  height: 100px;
  margin: 0px 40px 0 40px;
  background-color: #fff;
}

.services__item-title {
  font-size: 19px;
  line-height: 30px;
  width: 230px;
  margin-top: 20px;
}

.information__wrapper {
  margin: 91px 0 80px 0;
  width: 100%;
  padding: 20px;
  background-color: #8199A3;
}

.information__inner {
  padding: 44px 0 42px 55px;
  border: 1px solid #fff;
  width: 100%;
  background: url("../images/bg-info-inner.png") no-repeat center right;
  background-size: contain;
}

.information__inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 19px;
  line-height: 30px;
  padding-top: 45px;
}

.information__inner-text > span {
  width: 1px;
  height: 172px;
  background-color: #0A2037;
  margin: 0px 65px 0px 0px;
}

.information__inner-text p {
  max-width: 485px;
  line-height: 30px;
}

.information__inner-text .uppercase {
  color: #0A2037;
  text-transform: uppercase;
}

.information__inner .tour__btn {
  margin-left: 66px;
}

.plan__title {
  text-align: center;
  margin-bottom: 30px;
}

.plan__inner {
  padding: 60px 0;
  background-color: #8199A3;
}

.plan__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plan__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 274px;
  height: 230px;
  background: -webkit-gradient(linear, left bottom, left top, from(#34495e), to(#8199a3));
  background: linear-gradient(0deg, #34495e 0%, #8199a3 100%);
}

.plan__item:not(:nth-child(3n)) {
  margin-right: 158px;
}

.plan__item:nth-child(-n+3) {
  margin-bottom: 126px;
}

.plan__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.plan__item-inner span {
  width: 1px;
  height: 100px;
  margin: 0px 47px 0px 20px;
  background-color: #fff;
}

.plan__item-text {
  margin: 15px 0 0 20px;
  max-width: 229px;
  color: #0A2037;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
}

.plan__item-counter {
  position: absolute;
  z-index: 4;
  left: 190px;
  top: 16px;
  width: 100px;
  height: 100px;
  background-color: #3F5467;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Chicago-Regular';
  font-size: 60px;
  line-height: 95px;
  text-align: center;
  vertical-align: center;
}

.plan .bg_counter {
  content: '';
  position: absolute;
  top: 30px;
  left: 206px;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 1px solid #fff;
}

.projects__inner {
  margin: 80px 0 112px 0;
  position: relative;
}

.projects__inner-title {
  max-width: 454px;
  margin-right: 227px;
}

.projects__subtitle {
  text-align: left;
  margin-top: 30px;
}

.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

.projects__right-items {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
}

.projects__card {
  width: 100%;
  margin-bottom: 80px;
}

.projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 21px 21px 0px 0px #dfe2e5;
          box-shadow: 21px 21px 0px 0px #dfe2e5;
}

.projects__left-item:last-child {
  margin-bottom: 0;
}

.projects__right-item:last-child {
  margin-bottom: 0;
}

.projects .projects__bnt {
  margin: 0;
  margin-top: 60px;
  font-size: 14px;
  padding: 0 20px;
}

.footer .footer__inner {
  width: 100%;
  height: 400px;
  background-color: #34495E;
  color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.footer__top .footer__line {
  width: 1px;
  height: 172px;
  background-color: #fff;
  margin: 0px 14px 0px 0px;
}

.footer__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer__top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-menu ul li {
  line-height: 100%;
}

.footer__top-menu ul li:hover {
  color: #8199A3;
}

.footer__top-menu a {
  text-transform: uppercase;
}

.footer__top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Chicago-Regular';
  font-size: 14px;
  line-height: 0;
}

.footer__top-contacts .contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-contacts .contacts__items span {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.footer__top-contacts .contacts__items .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 178%;
}

.footer__top-contacts .contacts__items .contacts__item-social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__top-contacts .contacts__items .contacts__item-social .social__link {
  position: relative;
}

.footer__top-contacts .contacts__items .contacts__item-social .social__link svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__top-contacts .contacts__items .contacts__item-social .social__link svg:hover path {
  fill: #8199A3;
}

.footer__top-contacts .contacts__items .contacts__item-social .social__link-instagram svg {
  margin-left: 30px;
}

.footer__top-map {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(129, 153, 163, 0.75)), to(rgba(52, 73, 94, 0.75)));
  background: linear-gradient(0deg, rgba(129, 153, 163, 0.75) 0%, rgba(52, 73, 94, 0.75) 100%);
  width: 274px;
  height: 186px;
}

.footer__top-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 30px;
  color: #8199A3;
  font-size: 14px;
  font-weight: 700;
}

.footer__bottom-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Chicago-Regular';
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
}

.footer__bottom-copyright img {
  margin-right: 4px;
}

.footer__bottom-copyright.light {
  font-weight: 400px;
}

.footer__bottom-form {
  margin-left: 199px;
}

.footer__bottom-form .contact-form {
  margin-top: 15px;
}

.footer__bottom-form .contact-form .footer__input {
  border: 1px solid rgba(129, 153, 163, 0.39);
  border-radius: 3px;
  background-color: transparent;
  margin-left: 6px;
}

.footer__bottom-form .contact-form .footer__input::-webkit-input-placeholder {
  color: rgba(129, 153, 163, 0.39);
}

.footer__bottom-form .contact-form .footer__input:-ms-input-placeholder {
  color: rgba(129, 153, 163, 0.39);
}

.footer__bottom-form .contact-form .footer__input::-ms-input-placeholder {
  color: rgba(129, 153, 163, 0.39);
}

.footer__bottom-form .contact-form .footer__input::placeholder {
  color: rgba(129, 153, 163, 0.39);
}

.footer__bottom-form .contact-form .footer__input:focus {
  color: #fff;
}

.footer__bottom-form .contact-form .footer__input:first-child {
  margin-right: 16px;
}

.footer__bottom-form .contact-form .footer__btn {
  background-color: rgba(129, 153, 163, 0.26);
  color: #fff;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */