.footer {
	.footer__inner {
		width: 100%;
		height: 400px;
		background-color: #34495E;
		color: #fff;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 50px;

		.footer__line {
			width: 1px;
			height: 172px;
			background-color: #fff;
			margin: 0px 14px 0px 0px;
		}

		&-menu {
			display: flex;
			font-weight: 700;
			letter-spacing: 1px;

			ul {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				li {
					line-height: 100%;

					&:hover {
						color: #8199A3;
					}
				}
			}

			a {
				text-transform: uppercase;
			}
		}

		&-contacts {
			display: flex;
			font-family: 'Chicago-Regular';
			font-size: 14px;
			line-height: 0;

			.contacts__items {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				& span {
					font-family: 'Nunito', sans-serif;
					font-weight: 700;
				}

				.contacts__item {
					display: flex;
					flex-direction: column;
				}

				.contacts__item-social {
					margin-top: 40px;
					display: flex;
					align-items: flex-end;

					.social__link {
						position: relative;

						svg {
							position: absolute;
							bottom: 0;
							left: 0;

							&:hover path {
								fill: #8199A3;

							}
						}
					}

					.social__link-instagram svg {
						margin-left: 30px;
					}
				}
			}
		}

		&-map {
			background: linear-gradient(0deg, rgba(129, 153, 163, .75) 0%, rgba(52, 73, 94, 0.75) 100%);
			width: 274px;
			height: 186px;

			iframe {
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: flex-start;
		padding-top: 30px;
		color: #8199A3;
		font-size: 14px;
		font-weight: 700;

		&-form {
			margin-left: 199px;

			.contact-form {
				margin-top: 15px;

				.footer__input {
					border: 1px solid rgba(129, 153, 163, .39);
					border-radius: 3px;
					background-color: transparent;
					margin-left: 6px;

					&::placeholder {
						color: rgba(129, 153, 163, .39);

					}

					&:focus {
						color: #fff;
					}

					&:first-child {
						margin-right: 16px;
					}

				}

				.footer__btn {
					background-color: rgba(129, 153, 163, .26);
					color: #fff;
					font-weight: 400;

				}
			}
		}
	}
}